@model IEnumerable<Expense.Web.Data.Entities.TripEntity>

@{
    ViewData["Title"] = "Trips";
}
<!--<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />-->

<br />

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Trips</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-responsive table-striped" id="MyTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(Model => Model.Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(Model => Model.StartDateLocal)
                            </th>
                            <th>
                                @Html.DisplayNameFor(Model => Model.EndDateLocal)
                            </th>
                            <th>
                                @Html.DisplayNameFor(Model => Model.City.City)
                            </th>
                            <th>
                                @Html.DisplayNameFor(Model => Model.TotalAmount)
                            </th>
                            <th>
                                @Html.DisplayNameFor(Model => Model.User.FullName)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StartDateLocal)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EndDateLocal)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.City.City)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TotalAmount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.User.FullName)
                                </td>
                                <td>
                                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">   <i class="glyphicon glyphicon glyphicon-align-justify"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>